/*****************************************************************************/
/* System           : SIMPLE EA SYSTEM DB CREATE                             */
/* Name             : DB CREATE SCRIPT                                       */
/* Description      :                                                        */
/* Author & Date    : SES  2010/07/08                                        */
/* Update           : SES JiJianxiong 2010/11/12                             */
/* Notes            :                                                        */
/*****************************************************************************/

/****************************************/
/*           Update DTATBASE            */
/****************************************/

/****************************************/
/*            CREATE TABLE FOR VER.1.1  */
/*             AND Add Defulat Record   */
/****************************************/
