<?xml version="1.0"?>
<!--
==============================================================================
//
//	Extended Sharp OSA SDK	
//
//	Copyright (c) 2010-2014 SHARP CORPORATION. All rights reserved.
//
//	This software is protected under the Copyright Laws of the United States,
//	Title 17 USC, by the Berne Convention, and the copyright laws of other
//	countries.
//
//	THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDER "AS IS" AND ANY EXPRESS 
//	OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
//	OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
//
//==============================================================================
//
// Web.config
-->
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections/>
	<connectionStrings/>
	<system.web>
		<sessionState mode="Off"/>
		<!-- 
		    Set compilation debug="true" to insert debugging 
		    symbols into the compiled page. Because this 
		    affects performance, set this value to true only 
		    during development.
		-->
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
		    The <authentication> section enables configuration 
		    of the security authentication mode used by 
		    ASP.NET to identify an incoming user. 
		-->
		<authentication mode="Windows"/>
		<pages/></system.web>
	<appSettings>
		<!-- Specify a file that stores a vendor key -->
		<add key="LicFile" value="OSA.DIRECT.LIC"/>
		<!-- Specify an AppWeb host -->
		<add key="appWebHost" value="localhost"/>
		<!-- Specify an AppWeb application path -->
		<add key="appwebAppPath" value="mfpcopy"/>
		<!-- Specify a selected item's background color -->
		<add key="SelectedColor" value="Blue"/>
		<!-- Specify an ajax timeout -->
		<add key="AjaxTimeOut" value="60000"/>
	</appSettings>
	<system.net>
		<defaultProxy enabled="false"></defaultProxy>
	</system.net>
	<!-- 
	    The <system.webServer section> is necessary to execute ASP.NET AJAX with Internet Information Services 7.0.
	    Not required with earlier versions of IIS.
	-->
</configuration>
