<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="ICCardLogin" value="true"/>
		<add key="NormalLogin" value="true"/>
		<!-- Extra Limit After Exceed Limit -->
		<add key="ExtraLimit" value="100"/>
		<!-- ICCard ID Length -->
		<add key="ICCardLen" value="10"/>
		<!-- Value representing the WSDL BUILD NUMBER -->
		<add key="LicFile" value="OSA.DIRECT.LIC"/>
		<add key="WsdlBuildNumber" value="1.0.0.22"/>
		<add key="Osa.MfpWebService.MFPCoreWS" value="http://localhost/MFPCoreWS/MFPCoreWS.asmx"/>
		<!-- This flag controls the use of SSL for SOAP calls -->
		<add key="UseSSL" value="false"/>
		<!--Log flag -->
		<add key="AppLog" value="false"/>
		<!--Csv path -->
		<add key="AppCsvPath" value="C:/SimpleEACsv/"/>
		<!--Log path -->
		<add key="AppLogPath" value="C:\SimpleEALog\"/>
		<!--Logout Period-->
		<add key="TimeOutPeriod" value="1"/>
		<!--Follow ME Enable-->
		<add key="isAllowFollowME" value="true"/>
		<!--send Time Interval/ unit: second-->
		<add key="Interval" value="2"/>
	</appSettings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/unsafe" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="1">
			</compiler>
		</compilers>
	</system.codedom>
	<connectionStrings>
    <!-- 
		<add name="SimpleEAConnectionString" connectionString="Data Source=.\SQLEXPRESS#;Initial Catalog=SimpleEA;Persist Security Info=True;User ID=sa;Password=chenygls@163.com;pooling=false;" providerName="System.Data.SqlClient"/>
     -->
    <add name="SimpleEAConnectionString" connectionString="Data Source=202.120.87.237\SQLEXPRESS;Initial Catalog=SimpleEA;Persist Security Info=True;User ID=admin;Password=admin;pooling=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<authentication mode="Forms">
			<forms timeout="30" defaultUrl="~/SimpleEA/Login/Login.aspx"/>
		</authentication>
		<roleManager enabled="true"/>
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<!-- <add assembly="office, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/> -->
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
		<identity impersonate="false"/>
		<!--<customErrors mode="On" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>-->
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<pages/></system.web>
</configuration>
