<%--
// ==============================================================================
// File Name           : SimpleEALogMasterPage.master
// Description         : MasterPage for SimpleEA
// Author(s)           : Ji Jianxiong
// Date created        : 2010.12.07
//                       2010.12.27
//                       Html Standerd Modify
//                       2011.01.12
//                       Html Standerd Modify
// Last reviewed by    : 
// Last date of review : 
// Copyright           : (c) 2010, SHARP CORPORATION., All rights reserved.
//                       All rights are reserved. Reproduction or transmission in whole or in part, in
//                       any form or by an means, electronic, mechanical or otherwise, is prohibited
//                       without the prior written consent of the copyright owner.

// ==============================================================================
--%>
<%@ Master MasterPageFile="SimpleEAMasterPage.master" Language="C#" AutoEventWireup="true"
    CodeFile="SimpleEALogMasterPage.master.cs" Inherits="Masterpage_SimpleEALogMasterPage" %>
<%@ MasterType TypeName="Masterpage_SimpleEAMasterPage" %>
<asp:Content ID="ContentUserHead" ContentPlaceHolderID="cphSmallbody" runat="server">
    <asp:Table runat="server" Width="100%">
        <asp:TableRow>
            <asp:TableCell ColumnSpan="10" CssClass="tdLogSearch">
                <asp:Table ID="Table2" runat="server">
                    <asp:TableRow CssClass="Light_GrayFont">
                        <asp:TableHeaderCell CssClass="td_head_Log " HorizontalAlign="Left"
                            Width="100px" Wrap="false">&nbsp;用户名/登录名</asp:TableHeaderCell>
                        <asp:TableCell Width="146px">
                            <asp:TextBox ID="txtUserLogin" runat="server" CssClass="Inputtextbox LogSearchName"
                                MaxLength="10" Width="146px"></asp:TextBox>
                        </asp:TableCell>
                        <asp:TableHeaderCell CssClass="td_head_Log thLogMFP" HorizontalAlign="Left" Width="140px"
                            Wrap="false">&nbsp; MFP型号（序列号）</asp:TableHeaderCell>
                        <asp:TableCell VerticalAlign="Top" CssClass="tdLogMFP">
                            <div style="z-index: 10; padding-top: 5px">
                                <asp:DropDownList ID="ddlMFPItem" runat="server" CssClass="changeMe" Width="190px"
                                    DataTextField="ModelName" DataValueField="SerialNumber">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                        <asp:TableHeaderCell CssClass="td_head_Log" HorizontalAlign="Left" Width="45px" Wrap="false">&nbsp; 状态</asp:TableHeaderCell>
                        <asp:TableCell VerticalAlign="Top" CssClass="tdLogStatus">
                            <div style="z-index: 9;  padding-top: 5px">
                                <asp:DropDownList ID="ddlStatus" runat="server" CssClass="changeMe" Width="105px">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                        <asp:TableHeaderCell CssClass="td_head_Log" HorizontalAlign="Left" Width="80px" Wrap="false">&nbsp; 操作类型</asp:TableHeaderCell>
                        <asp:TableCell VerticalAlign="Top" CssClass="tdLogJobtype">
                            <div style="z-index: 8;  padding-top: 5px">
                                <asp:DropDownList ID="ddlJobtype" runat="server" CssClass="changeMe" Width="80px">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>
            </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow>
            <asp:TableCell ColumnSpan="10" CssClass="Light_GrayFont">
                <asp:Table runat="server" Width="100%">
                    <asp:TableRow CssClass="Light_GrayFont">
                        <asp:TableHeaderCell CssClass="td_head_time" HorizontalAlign="Left" Width="100px"
                            Wrap="false">&nbsp;时间段</asp:TableHeaderCell>
                        <asp:TableCell VerticalAlign="Top" Width="56px" CssClass="year_width">
                            <div style="z-index: 9; position: absolute; padding-top: 5px">
                                <asp:DropDownList ID="ddlBeginYear" runat="server" CssClass="changeMe" Width="56px"
                                    AutoPostBack="true" OnSelectedIndexChanged="ddl_SelectedIndexChanged" ValidationGroup="None">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                        <asp:TableCell Width="10px">年</asp:TableCell>
                        <asp:TableCell VerticalAlign="Top" CssClass="day_width">
                            <div style="z-index: 8; position: absolute; padding-top: 5px">
                                <asp:DropDownList ID="ddlBeginMonth" runat="server" CssClass="changeMe" Width="45px"
                                    AutoPostBack="true" OnSelectedIndexChanged="ddl_SelectedIndexChanged" ValidationGroup="None">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                        <asp:TableCell Width="10px">月</asp:TableCell>
                        <asp:TableCell VerticalAlign="Top" CssClass="day_width">
                            <div style="z-index: 7; position: absolute; padding-top: 5px">
                                <asp:DropDownList ID="ddlBeginDay" runat="server" CssClass="changeMe" Width="45px"
                                    dateday="dateday" AutoPostBack="true" OnSelectedIndexChanged="ddl_SelectedIndexChanged"
                                    ValidationGroup="None">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                        <asp:TableCell Width="10px">日</asp:TableCell>
                        <asp:TableCell VerticalAlign="Top" CssClass="day_width">
                            <div style="z-index: 6; position: absolute; padding-top: 5px">
                                <asp:DropDownList ID="ddlBeginHour" runat="server" CssClass="changeMe" Width="45px"
                                    AutoPostBack="true" OnSelectedIndexChanged="ddl_SelectedIndexChanged" ValidationGroup="None">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                        <asp:TableCell Width="70px">时00分～</asp:TableCell>
                        <asp:TableCell ColumnSpan="3">
                            <asp:TextBox ID="StartDateTime" runat="server" CssClass="viewDisplay"></asp:TextBox>
                            <asp:CompareValidator ID="valDateTime" ControlToValidate="StartDateTime" runat="server"
                                Operator="LessThan" Display="Dynamic" ControlToCompare="EndDateTime"></asp:CompareValidator>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow CssClass="Light_GrayFont">
                        <asp:TableHeaderCell Height="29px"></asp:TableHeaderCell>
                        <asp:TableCell VerticalAlign="Top">
                            <div style="z-index: 5; position: absolute; padding-top: 5px">
                                <asp:DropDownList ID="ddlEndYear" runat="server" CssClass="changeMe" Width="56px"
                                    AutoPostBack="true" OnSelectedIndexChanged="ddl_SelectedIndexChanged" ValidationGroup="None">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                        <asp:TableCell>年</asp:TableCell>
                        <asp:TableCell VerticalAlign="Top">
                            <div style="z-index: 4; position: absolute; padding-top: 5px">
                                <asp:DropDownList ID="ddlEndMonth" runat="server" CssClass="changeMe" Width="45px"
                                    AutoPostBack="true" OnSelectedIndexChanged="ddl_SelectedIndexChanged" ValidationGroup="None">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                        <asp:TableCell>月</asp:TableCell>
                        <asp:TableCell VerticalAlign="Top">
                            <div style="z-index: 3; position: absolute; padding-top: 5px">
                                <asp:DropDownList ID="ddlEndDay" runat="server" CssClass="changeMe" Width="45px"
                                    dateday="dateday" AutoPostBack="true" OnSelectedIndexChanged="ddl_SelectedIndexChanged"
                                    ValidationGroup="None">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                        <asp:TableCell>日</asp:TableCell>
                        <asp:TableCell VerticalAlign="Top">
                            <div style="z-index: 2; position: absolute; padding-top: 5px">
                                <asp:DropDownList ID="ddlEndHour" runat="server" CssClass="changeMe" Width="45px"
                                    AutoPostBack="true" OnSelectedIndexChanged="ddl_SelectedIndexChanged" ValidationGroup="None">
                                </asp:DropDownList>
                            </div>
                        </asp:TableCell>
                        <asp:TableCell>时59分</asp:TableCell>
                        <asp:TableCell HorizontalAlign="Left" Width="200px">
                            <asp:TextBox ID="EndDateTime" runat="server" CssClass="viewDisplay"></asp:TextBox>
                            <asp:ImageButton ID="btnPeriodPre" runat="server" OnClick="btnPeriodPre_Click" ImageUrl="../Images/Arrow_Pre.gif"
                                Width="7px" Height="13px"  ValidationGroup="None"></asp:ImageButton>&nbsp;&nbsp;&nbsp;<asp:Image
                                    ID="Image1" Width="24px" Height="24px" runat="server" ImageUrl="~/Images/Calendar.gif" />&nbsp;&nbsp;&nbsp;<asp:ImageButton
                                        ID="btnPeriodNext" runat="server" OnClick="btnPeriodNext_Click" ImageUrl="../Images/Arrow_Next.gif"
                                        Width="7px" Height="13px"  ValidationGroup="None"></asp:ImageButton>&nbsp;&nbsp;&nbsp;&nbsp;
                            <asp:Button ID="BtnSearch" runat="server" CssClass="Button_JobReport" OnClientClick="if(!LogSearchOnClientClick()) return false;"
                                Text="查询" />
                        </asp:TableCell>
                        <asp:TableCell>   
                        </asp:TableCell>
                    </asp:TableRow>
                </asp:Table>
            </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow CssClass="Normalfont_black">
            <asp:TableCell Height="0px" HorizontalAlign="Left" VerticalAlign="Middle" ColumnSpan="12">
            </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow CssClass="Normalfont_black">
            <asp:TableCell Height="2px" CssClass="HR_Line" HorizontalAlign="Left" VerticalAlign="Middle"
                ColumnSpan="12">
            </asp:TableCell>
        </asp:TableRow>
    </asp:Table>
</asp:Content>
<asp:Content ID="ContentPage" ContentPlaceHolderID="cphlisthead" runat="Server">
    <asp:ContentPlaceHolder ID="cphlisthead" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="ContentBody" ContentPlaceHolderID="cphbody" runat="Server">
    <asp:ContentPlaceHolder ID="cphbody" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="ContentFoot" ContentPlaceHolderID="cphfoot" runat="server">
    <asp:ContentPlaceHolder ID="cphfoot" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
